.title{
    width: 100%;
    color: white;
    font-size: 3vw;
    font-weight: 600;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
@media(max-width: 900px){
    .grid-content1{
        padding: 10px;
        font-size: 5vw;
    }
}
.background-grid{
    width: 100%;
    padding: 50px 50px 50px 50px;
}
.title-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 0px 50px;
    width: 100%;
    background-color: #006c6f;
}
@media(max-width: 900px){
    .title-grid{
        display: block;
    }
}
.grid-content1{
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 1.5vw;
    padding: 50px;
    text-align: justify;
    align-self: center;

}
@media(max-width: 900px){
    .grid-content1{
        padding: 10px;
        font-size: 2.5vw;
    }
}
.img-height{
    width: 100%;
    height: 100%;
}