/*video*/
#video_background {
 min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: fixed;    
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); 
      
  z-index: -100;
    
  background-size: cover;
}
.nothing-php{
    display: none !important;
}
.nothing-php2{
    display: block !important;
}
#middle {
    max-width: auto;
    max-height: auto;
    width: 500px;
    height: 280px;
    background-size: cover;
}

/* icons */

.fa-whatsapp{
    width: 3em !important;
    height: 2em !important;
    vertical-align: middle !important;
    color: rgb(70, 131, 10) !important;
    height: 100%;
}
.fa-facebook{
    width: 3em !important;
    height: 2em !important;
    vertical-align: middle !important;
    color: rgb(28, 77, 211) !important;
    height: 100%;
}
.fa-instagram{
    width: 3em !important;
    height: 2em !important;
    vertical-align: middle !important;
    color:rgb(250, 20, 89);
    height: 100%;
}
/*body*/
.height-head{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* purchase */
.title-index{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 6vw;
    height: 10vw;
}
.sub-title{
    text-align: center;
    color:  rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-shadow: 1px 1px 1px black;
}
/* second part page */
.picture-meaning{
    background-color: black;

    display: grid;
    justify-content: center;
}
.title-white1{
    font-size: 5vw;
    font-weight: 800;
    text-align: center;
    color: white;
    display: block;
}

.tittle-white2{
    font-size: 6vw;
    font-weight: 800;
    text-align: center;
    color: white;
    display: block;
}
.grid-imagepicture{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    width: 100%;
    padding: 2% 10%;
    
}
@media(max-width: 800px){
    .grid-imagepicture{
        gap: 0px;
        padding: 10% 0%;
    }
}
.part{
    width: 100%;
    height: 100%;
    border: solid 3px white;
    background-color: white;
    padding: 20px;
}
.img-texthover{
    position: relative;
}
.img-texthover:hover .img-fix{
    opacity: 0.3;
}
.img-fix{
    width: 100%;
    transition: all 0.5s;
}
.text-absolute{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 0);
    text-decoration: none;
    font-size: 4vw;
}
.img-texthover:hover .text-absolute{
    color: rgb(0, 0, 0);
}
/* third part page */
.what-wedo{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
@media(max-width: 1000px){
    .what-wedo{
        align-items: center;
    }
}
@media(max-width: 400px){
    .what-wedo{
        height: 100%;
    }
}
.information{
    width: 70%;
    margin-top: -5%;
    text-align: center;
    padding: 0px 100px 100px
    
}
@media (max-width: 1000px){
    .information{
        width: 100%;
        padding: 0px 20px 100px 20px;
        margin-top: -20%;
    }
}
.tittle-information{
    width: 100%;
    font-size: 4vw;
    color: white;
    font-weight: 600;
}
@media (max-width: 1000px){
    .tittle-information{
       color: white;
       font-size: 9vw;
    }
}
.sub-title-information{
    width: 100%;
    font-size: 2vw;
    text-align: center;
    color: white;
}
@media (max-width: 1000px){
    .sub-title-information{
       color: white;
       font-size: 6vw;
    }
}
/* four part page */
.color-purple{
    background-color: black;
}
.paddings{
    padding-top: 5%;
    padding-bottom: 5%;
}
@media(max-width: 700px){
    .paddings{
        padding-top: 12%;
        padding-bottom: 12%;
    }
}
.text-gallery{
    width: 100%;
    text-align: center;
    padding-bottom: 5%;
}
/* five part page */
.ask-customization{
    display: flex;
    align-items: center;
}
.ask-customization-image{
    width: 100%;
    background-image:  url(../img/fifth-part/img1.png);
    background-size: cover;
}
@media (max-width: 700px){
    .ask-customization{
        background-image: url(../img/fifth-part/img1.png);
    }
}
@media (max-width: 400px){
    .ask-customization{
       height: 100%;
    }
}
.information2{
    width: 60%;
    text-align: center;
    padding: 150px 30px 0px 30px;
}
@media (max-width: 1000px){
    .information2{
       width: 100%;
       padding: 30px 30px 0px 30px;
       margin-top: 15%;
    }
}
/* sixth part page */
.simplified-shop{
    background-color: black;
    width: 100%;
    text-align: center;
    padding-bottom: 5%;
}
.title-shop{
    padding-top: 5%;
    color: rgb(255, 255, 255);
    font-size: 3vw;
    
}
.the-text{
    border: solid 2px white;
    padding: 10px;
}
.grid-simplified{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr;
     gap: 30px;
     padding: 5vw 15vw;
}
@media (max-width: 1000px){
    .grid-simplified{
        grid-template-columns: 1fr 1fr;
        padding: 5vw 10vw;
    }
}
@media (max-width: 500px){
    .grid-simplified{
        grid-template-columns: 1fr;
        padding: 5vw 10vw;
    }
}
.content-shop{
    display: grid;
    border: solid 3px white;
    height: 100%;
    padding: 20px 20px 0px 20px;
    width: 100%;
}
.image-shop{
    background-image: url(../img/3dimages/imagen1.jpg);
    background-size: cover;
    height: 150px;
}
.text-shop{
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    height: 100px;
    text-align: left;
    color: white;
}
/* seventh part page */
.contact-us{
    display: flex;
    justify-content: flex-end;
}
.contact-us-image{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url(../img/contact-us/img1.jpg);
    background-size: cover;
}
.contact-us:before {
	opacity: 0.5;
}
.information3{
    width: 60%;
    padding: 0px 100px 100px 100px;
    margin-top: -10%;
    text-align: center;
}
@media (max-width: 1000px){
    .information3{
        width: 100%;
        padding: 0px 0px 100px 0px;
        margin-top: -20%;
    }
}
.tittle-information2{
    width: 100%;
    font-size: 40px;
    color: white;
    text-align: center;
    
}
@media (max-width: 1000px){
    .tittle-information2{
       color: white;
    }
}
.white-but-contact{
    width: 50%;
    border: solid 3px white;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    transition: all 0.5s;
    margin-left: 25%;
    margin-right: 25%;
    
}
.white-but-contact:hover{
    background-color: white;
    color: black;
}
.sub-title-information2{
    padding-bottom: 5%;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    color: white;
    -ms-word-break: break-all;
     word-break: break-all;
     word-break: break-word;

    -webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
}
@media (max-width: 1000px){
    .sub-title-information2{
       color: white;
    }
}


.incorrect{
    text-align: center;
    color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    padding: 5% 0%;
}

.title-index-if{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 6vw;
    height: 10vw;
}


.height-head3{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image:  url(../img/header/img6.png);
    background-size: 100% 100%;
}
.height-head4{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image:  url(../img/header/img7.png);
    background-size: 100% 100%;
}
.height-head5{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image:  url(../img/header/img8.png);
    background-size: 100% 100%;
}
.img-whatwedo{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url(../img/third-section/img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
