.faq-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d25366;
    padding: 50px;
}
.the-title{
    font-size: 5vw;
    color: white;
}
.faq-content{
    width: 100%;
    background-color: #d25366;
    padding: 0px 50px 0px 50px;
}
.questions{
    width: 100%;
    padding: 50px;
    background-color: #5a2f36;
    height: 100%;
    text-align: center;
    border: solid 3px white;
}
.title-infaq{
    color: white;
    font-size: 3vw;
    padding-bottom: 5%;

}
/* acorddion */
.accordion {
    background-color: rgba(238, 238, 238, 0);
    color: white;
    border-bottom: solid 3px white !important;
    border: none;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: height 0.8s;
    padding: 40px;
  }

  .active, .accordion:active {
    background-color: rgba(158, 42, 42, 0); 
    border-bottom: none !important;
  }
  
  .panel {
    padding: 0 18px;
    color: white;
    text-align: justify;
    display: none;
    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;
    border-bottom: solid 3px white !important;
    padding: 50px 0px;
  }
  /* second part* */
  .faq-title2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d25366;
    padding: 50px;
  }
  .the-title2{
    font-size: 3vw;
    color: white;
  }
  .sub-information{
      font-size: 1.5vw;
      color: white;
      text-align: justify;
      padding-bottom: 5%;
  }
  .sources{
    padding-top: 5%;
    text-align: left;
    border: solid 3px white;
    padding: 20px;
  }
  .span-1{
    font-size: 3vw;
    color: white;
  }
  .span-2{
    font-size: 1.5vw;
    color: white;
    padding: 0px 20px;
  }