body{
    font-family: 'Rubik', sans-serif !important;
    background-color: black;
}
header nav {
	width:100%;
    max-width:100%;
    z-index: 1000;
    margin-bottom: 0px !important;
}
.header-height{
	height: 75px;
	background:#ffffff;
}
.navbar{
    position: fixed;
    z-index: 10000;
}
.header-black-height{
	height: 55px;
	background:#000000;
}

.menu_bar {
	display:none;
}

header nav ul {
	list-style:none;
    overflow:hidden;
    display: flex;
}

header nav ul li {
	float: left;
}
header nav ul li::before {
	display: none;
}

header nav ul li span {
	margin-right:10px;
}

header nav ul li a{
	display:block;
	padding:20px;
	color:#fff;
	text-decoration:none;
}

header nav ul li a:hover {
	background:#037E8C;
}

section {
    padding:20px;
}

@media screen and (max-width:1050px) {
	 .navbar-collapse {
		width: 250px !important;
		height:100% !important;
		margin:0;
		position: fixed;
		left:-100%;
		top:0px;
        overflow:auto;
        z-index: 1000;
		background-color: #1d1e20;
		display: flex;
        align-items: start !important;
	}

	.menu_bar {
		display:block;
		width:100%;
		background:#ccc;
	}

	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		background:#ffffff;
		overflow: hidden;
		font-size:25px;
		font-weight:bold;
		color:#fff;
		text-decoration:none;
	}

	.menu_bar span {
		float:right;
		font-size:40px;
	}

	header .navbar-collapse ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255,.3);
	}
}
@media screen and (min-width:1051px) {
	.navbar-collapse {
	   display: none;
   }
}


/* navbar */
.navbar-edicion{
    height: 100px;
    width: 100%;
    display: flex;
}
.primary{
    width: 100%;
    padding-left: 30px;

}
@media(max-width: 1050px){
    .primary{
        width: 100%;
        text-align: right;
        padding: 10px;
  
    }
}
.collapse{
    display: none !important;
}
@media(max-width: 1050px){
    .collapse{
        display: flex  !important;
  
    }
}
.logo-meraki-blanco{
    background-color: rgb(255, 255, 255) !important;
    border: solid 1px black;
    border-left: solid 0px rgba(0, 0, 0, 0) !important;
    width: 150px;
    height: 60px;
}
@media (max-width: 1328px) {
    .logo-meraki-blanco{
    display: none;
    }
}
.logo-meraki-negro{
    background-color: #00000000 !important;
    border-left: solid 0px rgba(0, 0, 0, 0) !important;
    width: 250px;
    margin-left: -5px;
    align-items: center;
    justify-content: center;
    display: flex;
    
   
}

@media (max-width: 1050px) {
    .logo-meraki-negro{
    display: none;
    }
}
.logo-meraki-negro-2{
    background-color: rgb(255, 255, 255) !important;
    border: solid 1px black;
    border-left: solid 0px rgba(0, 0, 0, 0) !important;
    width: 50%;
    margin-left: -5px;
    align-items: center;
    justify-content: center;
    display: none;
    float: left;
    vertical-align: center;
    
   
}
@media (max-width: 1050px) {
    .logo-meraki-negro-2{
    display: inline-block;
    
    }
}
.font-logo{
    padding-right: 30px;
    margin-left: -15px;
    color: black;
    font-size: 2vw;
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;

}
@media (max-width: 1227px) {
    .font-logo{
        font-size: 20px;
    }
}
.grid-navbar{
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
}
.navbar-items{
    padding-right: 30px;
    color: white !important;
    display: inline-block !important;
    text-decoration: none;
    transition: color 0.3s;

}
.navbar-items:hover{
    color: rgba(255, 255, 255, 0.644) !important;
}
@media(max-width: 1050px){
    .navbar-items{
        display: none !important;
    }
}
.space-log{
    padding-left: 40px;
    color: white !important;
    display: inline-block !important;
    text-decoration: none;
    transition: color 0.3s;
    cursor: pointer;

}
.space-log:hover{
    color: rgba(255, 255, 255, 0.644) !important;
}
@media(max-width: 1050px){
    .space-log{
        display: none !important;
    }
}
.dropdown{
    position: relative;   
}
.item-indrop{
    color: white !important;
    text-decoration: none;
    transition: color 0.3s;

    
}
.item-indrop:hover{
    color: #d25366 !important;
}
.dropdown-content{
    display: none;
    position: absolute;
    margin-left: -115%;
    background-color: white;
    top: 100%;
    height: 0%;
    align-items: center;
    height: auto;
    
    
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    
}
.letters-content{
    text-decoration: none;

    height: 100%;
}
.letters-content:hover{
    color: #d25366 !important;
}
.part-grid{
    display: block;
}
.text-profile{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.dropdown:hover .dropdown-content{
    display: grid !important;
    
}
.dropdown:hover .letters-content{
    animation-name: lettercontent;
    animation-duration: 1s;
}
@keyframes lettercontent {
    0%   {color: rgba(0, 0, 0, 0);}
    25%   {color: rgba(0, 0, 0, 0);}
    50%   {color: rgba(0, 0, 0, 0);}
    75%   {color: rgba(0, 0, 0, 0.541);}
    100% {color: rgb(0, 0, 0);}
  }
.my-profile{
    text-align: center;
    width: 100%;
    cursor: pointer;

}
/* colapse navbar */
.secondary{
    width: 100%;
}
.dropdown-collapse{
    position: relative;   
}
.navbar-items-collapse{
    padding: 20px;
    color: rgb(255, 255, 255) !important;
    display: flex !important;
    text-decoration: none;
    transition: color 0.3s;

}
.navbar-items-collapse:hover{
    color: #d25366 !important;
}
.navbar-items-collapse-drop{
    padding: 20px;
    color: rgb(255, 255, 255) !important;
    display: inline-block !important;
    text-decoration: none;
    transition: color 0.3s;

}
.navbar-items-collapse-drop:hover{
    color: #d25366 !important;
}
.item-indrop-collapse{
    color: rgb(255, 255, 255) !important;
    text-decoration: none;
    transition: color 0.3s;

    
}
.item-indrop-collapse:hover{
    color: #d25366 !important;
}
.dropdown-content-collapse{
    margin-top: 20px;
    padding: 10px;
    display: none;
    background-color: rgb(51, 51, 51);
    min-width: 250px;
    height: 0%;
    right: -27px;
    height: auto;
    align-items: center;
}
.dropdown-collapse:hover .dropdown-content-collapse{
    display: inline-block !important;
}
.letters-content-collapse{
    padding-top: 15px;
    text-decoration: none;

    height: 100%;
    display: grid;
    color: rgb(255, 255, 255);
}
.letters-content-collapse:hover{
    color: #d25366 !important;
}
/* icons navbar */
.fa-shopping-bag{
    width: 3em !important;
    height: 2em !important;
    vertical-align: middle !important;
    height: 100%;
}
.fa-user-circle{
    width: 3em !important;
    height: 2em !important;
    vertical-align: middle !important;
    height: 100%;
}
.image-profile{
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 10px;
    height: 200px;
}
.img-profileback{
    justify-self: center;
    align-self: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image:  url(../img/about-us/img2.jpg);
}
.black-but-contact{
    width: 100%;
    border: solid 3px rgb(0, 0, 0);
    color: rgb(255, 255, 255) !important;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    transition: all 0.5s;
    text-align: center;
    text-decoration: none;
    
}
.black-but-contact:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0) !important;
}
/* no hover */
.nohover:hover{
    color: rgb(0, 0, 0) !important;
}
.navbar-toggler{
    background-color: white;
}

  @keyframes blacknav {
    0%   {background-color: rgba(0, 0, 0, 0.212); height: 100px;}
    25%  {background-color: rgba(0, 0, 0, 0.349); height: 100px;}
    50%  {background-color: rgba(0, 0, 0, 0.692); height: 100px;}
    100% {background-color: rgba(0, 0, 0, 0.959); height: 80px;}
  }
  
  /* The element to apply the animation to */
  .black-navbar {
    height: 80px;
    background-color: black;
    animation-name: blacknav;
    animation-duration: 0.5s;
  }

  @keyframes bluenav {
    0%   {background-color: #0070e01f; height: 100px;}
    25%  {background-color: #0070e070; height: 100px;}
    50%  {background-color: #0070e09f; height: 100px;}
    100% {background-color: #0070e0ea; height: 80px;}
  }
  
  /* The element to apply the animation to */
  .blue-navbar {
    height: 80px;
    background-color: #0070e0;
    animation-name: bluenav;
    animation-duration: 0.5s;
  }
  .img-logo{
      height: 100%;
      width: 40%;
  }

  /* shop part*/
  .shop-collapse{
    width: 350px !important;
    height: 100% !important;
    margin: 0;
    position: fixed;
    right: -120%;
    top: 0px;
    overflow: auto;
    z-index: 100000;
    background-color: #1d1e20;
    display: flex;
  }
  .grid-close-content{
      width: 100%;
      height: 100%;
      display: grid;
  }
  .button-close{
    cursor: pointer;
    font-weight: 800;
    font-size: calc(1.5em + 1.5vw);
    color: white;
    transition: all 0.5s;
    text-align: center;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button-close:hover{
    color: rgb(138, 138, 138);
  }

  .button-close2{
    cursor: pointer;
    font-weight: 800;
    font-size: calc(1.5em + 1.5vw);
    color: white;
    justify-self: right;
    transition: all 0.5s;
    width: 30px;
    }
    .button-close2:hover{
    color: rgb(138, 138, 138);
    }
    .content-cart{
    background-color: #2c2d30;
    width: 100%;
    min-height: 410px;
    justify-content: center;
    padding: 5%;
    overflow-y: auto !important;
    }
    .content-cart::-webkit-scrollbar {
        display: none;
    }
    .title-andclose{
        display: grid;
        grid-template-columns: 40% 60%;
        padding: 2%;
        align-items: center;
    }
    .title-cart{
        padding: 10px;
        text-align: left;
        color: white;
    }
    .button-view{
        padding: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .grid-shop-cart{
        display: grid;
        grid-template-columns: 0.7fr 1.3fr;
        padding: 2%;
        justify-self: center;
    }
    .lign-delimiter{
        padding: 10px 0px 10px 10px;
    }
    .img-incart{
        width: 100%;
        height: 100%;
    }
    .information-onecart{
        color: white;
        display: flex;
        align-items: center;
        height: 33.33%;
        font-size: calc(0.9em + 0.1vw);
    }
    .adjust-imgcart{
        width: 100%;
        height: 100%;
    }
    .nothing{
        text-align: center;
        width: 100%;
        color: white;
        width: 290px;
    }